body
{

background-image : url("image.jpg");
background-size: cover;
background-position: center;
 background-repeat: no-repeat;
display: flex;
align-items:center;
justify-content:center;
}
form{
background-color:LightCyan;
border-radius:30px;padding:20px;
border-style: solid;}